.UserInfo {
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.UserInfo p {
    text-wrap: balance; 
    
}
.contprofil{
    max-width: 180px;
}
.profil {
    position: relative;
    border: 3px solid rgb(131,58,180);
    border-radius: 50%;   
    margin-bottom: 1rem;
    overflow: hidden; /* Esto asegurará que cualquier imagen más grande que el contenedor se recorte. */
    width: 180px;
    height: 180px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.imagen {
    border-radius: 50%;
    pointer-events: none;
    width: 100%; /* Asegúrese de que la imagen se ajuste al contenedor. */
    height: auto; /* Esto mantendrá la proporción de aspecto de la imagen. */
    aspect-ratio: 1/1;
}
.name {
    letter-spacing: -.003em;
    font-size: 16px;
    font-weight: 500;
}
.funcion {
    letter-spacing: -.003em;
    font-size: 16px;
    font-weight: 600;
}

.descripcion {
    max-width: 500px;
    letter-spacing: -.010em;
    font-size: 16px;
    font-weight: 400;
}
.contenbutones {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
}
.contenbutones p{
    color: hsl(0, 0%, 39%);
    margin-left: -0.2rem;
}

/**/
.conspan{
    padding: 0.2rem 0.6rem;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    background: #f2f2f2;
    max-width: 200px;
    border-radius: 1rem;
    letter-spacing: -.004em;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.14286;
    
 }
 .conspan p{
    position: relative;
     height: 8px;
     width: 8px;
     border-radius: 50%;
     background: green;
     z-index: 1;
 }
 
 .conspan p::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 255, 0, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple-animation 2s ease-out infinite;
  }
  .buton {
    padding: 0.3rem 0.8rem;
    background: #f2f2f2;
    border-radius:20px ;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.buton:hover {
    color: #923f3f;
}
  
  @keyframes ripple-animation {
    from {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 1;
    }
    to {
      transform: translate(-50%, -50%) scale(4);
      opacity: 0;
    }
  }
  
@media (max-width: 750px){
    .profil {
        width: 70%; /* Esto hará que el contenedor sea el 70% del contenedor padre. */
        margin: auto; /* Esto centrará el contenedor si es más pequeño que el contenedor padre. */
        margin: 0;
        height: 70%;
    }
}